<tr>
    <td><%=book.title %> </td>
    <td>  <button><a href="/admin/update-book/<%= book._id %>">Edit</a></button>
    </div></td>
    <td><form action="/books/<%= book._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
         </form>  
    </td>
</tr>


 

