<footer>
    <div class="footer_nav">
        <h3>VISIT US</h3>
        <ul class="navlist">
            <li>CodeSquad Comics</li>
            <li>123 Dorchester Ave</li>
            <li>Boston, MA 02124</li>
        </ul>
    </div>

    <div class="footer_nav">
        <h3>LINKS</h3>
        <ul class="navlist">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a> </li>
            <li><a href="login.html">Login</a> </li>
        </ul>
    </div>

    <div class="footer_nav">
        <h3>FOLLOW US</h3>
        <ul class="navlist" id="icon-list">
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-instagram"></i> </li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>
    </div>

    <div class="footer_nav">
        <h3>A PRODUCT OF</h3>
        <a href="http://codesquad.org/" target="_blank" rel="noopener noreferrer">
            <img src="/images/CodeSquad-logo-b.png" alt="codesquad logo" class="bottomlogo">
        </a>
    </div>

</footer>

</body>