
    <div class="header">
        <img src="/images/CodeSquad-Comics-logo.png" alt="Codesquad comics logo" class="toplogo">
        <nav id="navbar">
            <ul>
                <li class="navlist"><a href="/">HOME</a></li>
                <li class="navlist"><a href="/about">ABOUT</a> </li>
                <li class="navlist"><a href="/login">LOGIN</a> </li>
                <li class="navlist"><a href="/register">REGISTER</a> </li>

            </ul>
        </nav>
        <div id="hamburger-wrap">
            <i class="fa fa-bars" id="hamburger-menu-icon"></i>
        </div>

    </div>