
    <div class="header">
        <img src="/images/codesquad-comics-logo.png" alt="Codesquad comics logo" class="toplogo">
        <nav id="navbar">
            <ul>
                <li class="navlist"><a href="index.html">HOME</a></li>
                <li class="navlist"><a href="about.html">ABOUT</a> </li>
                <li class="navlist"><a href="login.html">LOGIN</a> </li>
            </ul>
        </nav>
        <div id="hamburger-wrap">
            <i class="fa fa-bars" id="hamburger-menu-icon"></i>
        </div>

    </div>