<%- include('../partials/head') -%>

    <%- include('../partials/nav') -%>
        <div class="container">
            <h1 class="container_headers">CODESQUAD COMICS</h1>
            <p>CodeSquad Comics is a collection of graphic novels read by YOUR NAME. The site is intended to display
                comic
                book
                covers along with information about each book, including the author, a rating, and other details about
                the
                graphic novel. Browse through the complete collection below. Click on the cover image or the Details
                link to
                see
                even more information for each graphic novel including the publisher, genre, number of pages, and a
                brief
                synopsis. The About page includes meta information about this collection. Login is only available to the
                site
                administrator at this time.</p>
        </div>

        <div class="container">
            <h3 class="container_headers">COMPLETE COMIC COLLECTION</h3>
            <div class="index_covers">

                <% data.forEach(book=> { %>
                    <%- include('../partials/singlebook', {book: book}) -%>
                        <% }); %>



            </div>

            <div class="index_button_div">
                <button type="button" id="index_button">DISPLAY MORE</button>
            </div>
            </div>

            <%- include('../partials/footer') -%>